service batterysecret /vendor/bin/batterysecret
    class last_start
    user root
    group system system wakelock
    disabled

# Combined boot trigger for cleaner execution
on property:sys.boot_completed=1
    chmod 0664 /sys/class/usbpd/usbpd0/usbpd_verifed
    chmod 0664 /sys/class/usbpd/usbpd0/request_vdm_cmd
    chmod 0664 /sys/class/usbpd/usbpd0/verify_process
    chmod 0664 /sys/class/power_supply/usb/pd_authentication
    chmod 0664 /sys/class/power_supply/bms/authentic
    start batterysecret

# Run batterysecret in off-charge mode (Phone off, plugged in)
on charger
    chmod 0664 /sys/class/usbpd/usbpd0/usbpd_verifed
    chmod 0664 /sys/class/usbpd/usbpd0/request_vdm_cmd
    chmod 0664 /sys/class/usbpd/usbpd0/verify_process
    chmod 0664 /sys/class/power_supply/usb/pd_authentication
    chmod 0664 /sys/class/power_supply/bms/authentic
    start batterysecret

# Let the Kernel and Hardware BMS decide the maximum safe speed.
# on property:ro.boot.product.hardware.sku=ruby
#    setprop persist.vendor.accelerate.charge false
# on property:ro.boot.product.hardware.sku=rubyin
#    setprop persist.vendor.accelerate.charge false
